
body,
html {
  font-family: "c4c-mtavr", sans-serif !important;
  overflow-x: hidden;
}

body {
  background-size: cover;
  background-color: #fff;
  padding-right: 0 !important;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "c4c-mtavr", sans-serif !important;
}

p {
  padding: 0;
  text-align: left;
  margin: 0 0 10px;
}

span {
  text-align: left;
}

* {
  outline: none;
}

.btn,
.button,
.caption,
.header-details,
.help-title,
.slogan,
.subtitle,
.title,
input.button {
  font-family: "c4c-mtavr", sans-serif !important;
}

#top-nav {
  font-family: "c4c-mtavr", sans-serif !important;
}



ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

a:focus,
a:hover {
  color: rgb(17, 17, 17);
  text-decoration: none;
}

input,
textarea {
  border: 0;
  height: 44px;
  resize: none;
  padding: 0 10px;
  border-radius: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: #848484;
  background: none;
  box-shadow: none;
  margin-bottom: 20px;
  -moz-box-shadow: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 200ms ease-in;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

textarea {
  height: 100%;
  padding: 5px 10px;
  min-height: 173px;
  resize: vertical;
}

textarea:focus,
input:focus {
  outline: none;
  color: #e0e0e0;
  border: 2px solid rgb(156, 185, 104);
}

button {
  outline: none;
  background: none;
  font-size: 12px;
  font-weight: 800;
  border-radius: 0;
  box-shadow: none;
  margin-right: 4px;
  padding: 9px 17px;
  text-shadow: none;
  margin-bottom: 10px;
  display: inline-block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
  text-transform: uppercase;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

button:hover,
button:focus {
  border: 2px solid #9cbc68;
  color: #9cbc68 !important;
  text-decoration: none;
} 

  