//colors //
$base-color-red: #f44336;
$base-color-white:#ffffff;
$base-color-black:#000000;
$base-color-blue: #2196F3;
$base-color-gray: #9E9E9E;
$base-color-bluegray: #607D8B;
$base-color-green: #4CAF50;
$base-color-orange: #FF9800;
$base-color-darkgray:#232323;
$base-color-yellow : #FFEB3B;
$base-color-liteblack:#121212;
$base-color-litegreen: #8BC34A;


// sizes
$base-size-sm:5px;
